

:root {
    --bg-color: rgb(250, 250, 250);
    --header-color: rgba(31, 158, 190, 0.499);
    --link-color: rgb(255, 255, 255);
    --link-color-hover: rgb(94, 13, 128);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
}

.content {
    height: 200vh;
    display: grid;
    place-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

header {
    background-color: var(--header-color);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--header-color);
    width: 100%;
    display: none;
    transform: scale(1, 0);
    transition: transform 400ms ease-in;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--link-color-hover);
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    display: block;
    transform: scale(1, 1);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}